<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
在线考试系统
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
<div class="container">
    <div class="container">
        <br>
        <h3>考试成绩</h3>
        <p></p>
        <table class="table">
            <thead>
            <tr>
                <th>姓名</th>
                <th>科目</th>
                <th>成绩</th>
                <th>考试时间</th>
            </tr>
            </thead>
            <tbody>
            {% for grade1 in grade %}
            <tr class="table">
                <td>{{ student.name }}</td>
                <td>{{ grade1.course }}</td>
                <td>{{ grade1.grade }}</td>
                <td>{{ grade1.rtime|date:"Y-m-d H:i:s"}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

