{% extends "base.html" %} {% load static %}
{% block title %} 登录 {% endblock title %}
{% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-4">
      <br>
      <form method="post" action="/studentLogin/">
<!--        {% csrf_token %}-->
        <!-- 账号 -->
        <div class="form-group">
          <label >学生学号</label>
          <input type="text" class="form-control" name="sid" placeholder="输入学号">
        </div>
        <!-- 密码 -->
        <div class="form-group">
          <label for="password">密码</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="输入密码">
        </div>
        <!-- 提交按钮 -->
        <button type="submit" class="btn btn-primary">登录</button>
        <div class="form-group">
        <br>
        <br>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}