{% extends "base.html" %} {% load static %}
{% block title %} 用户信息 {% endblock title %}
{% block content %}
<div class="container">
    <br>
    <div class="row justify-content-md-center">
        <div class="col-8">
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">个人信息</h3>
          </div>
          <div class="panel-body">
              <table class="table table-borderless">
                  <tbody>
                  <tr>
                      <td>学号</td>
                      <td>{{ student.sid }}</td>
                  </tr>
                  <tr class="table">
                      <td>姓名</td>
                      <td>{{ student.name }}</td>
                  </tr>
                  <tr class="table">
                      <td>性别</td>
                      {% if student.sex%}
                      <td>男</td>
                      {% else %}
                      <td>女</td>
                      {% endif %}
                  </tr>
                  <tr class="table">
                      <td>学院</td>
                      <td>{{ student.academy }}</td>
                  </tr>
                  <tr class="table">
                      <td>专业</td>
                      <td>{{ student.major }}</td>
                  </tr>

                  <tr class="table">
                      <td>邮箱地址</td>
                      <td>{{ student.email }}</td>
                  </tr>
                  <tr class="table">
                      <td>出生日期</td>
                      <td>{{ student.birth }}</td>
                  </tr>
                  </tbody>
              </table>
          </div>
      </div>
        </div>
    </div>
</div>
{% endblock content %}